# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*
!.env.example
.power_meter/eon

# VSCode
.vscode/

# Windows
.DS_Store
Thumbs.db

# Local data
data/
*.csv

# Docker
**/influxdb-data/
**/influxdb-config/
