services:
    ingest:
    build:
      context: ./ingest
    container_name: ingest
    depends_on:
      - influxdb
    environment:
      - INFLUX_URL=http://localhost:8086
      - INFLUX_ORG=${INFLUX_ORG}
      - INFLUX_BUCKET=${INFLUX_BUCKET}
      - INFLUX_TOKEN=${INFLUX_TOKEN}
    restart: "no"


